/* Définition des polices personnalisées */

@font-face {
  font-family: "BallparkWeiner";
  src: url("polices/ballpark.eot");
  src: url("polices/ballpark.eot?#iefix") format("embedded-opentype"),
    url("polices/ballpark.woff") format("woff"),
    url("polices/ballpark.ttf") format("truetype"),
    url("polices/ballpark.svg#BallparkWeiner") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Dayrom";
  src: url("polices/dayrom.eot");
  src: url("polices/dayrom.eot?#iefix") format("embedded-opentype"),
    url("polices/dayrom.woff") format("woff"),
    url("polices/dayrom.ttf") format("truetype"),
    url("polices/dayrom.svg#Dayrom") format("svg");
  font-weight: normal;
  font-style: normal;
}
#bloc_page {
  width: 900px;
  margin: auto;
}
header {
  background: url("images/separateur.png") repeat-x bottom;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#titre {
  display: flex;
  flex-direction: column;
}
.imagezozor {
  margin-left: 0px;
  padding-left: 0px;
}
#pont {
  margin-top: 15px;
  height: 200px;
  border-radius: 5px;
  background: url("images/sanfrancisco.jpg") no-repeat;
  position: relative;
  box-shadow: 0px 4px 4px #1c1a19;
  margin-bottom: 25px;
}
#commentaire {
  background-color: rgba(24, 24, 24, 0.8);
  bottom: 0;
  border-radius: 0px 0px 5px 5px;
  position: absolute;
  height: 10%;
  width: 99.5%;
  padding-bottom: 25px;
  padding-left: 5px;
  color: white;
}
.bouton_rouge {
  height: 25px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  background: url("images/fond_degraderouge.png") repeat-x;
  border: 1px solid #760001;
  border-radius: 5px;
  text-align: center;
  padding: 3px 8px 0px 8px;
  color: white;
  text-decoration: none;
}
.bouton_rouge img {
  border: 0;
}
body {
  background-image: url("images/fond_jaune.png");
  font-family: "Trebuchet MS", Arial, sans-serif;
  color: #181818;
}
.align {
  text-align: left;
}
#navigation {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  font-size: 1.3em;
  font-family: Dayrom;
}
nav a {
  margin-right: 15px;
  text-decoration: none;
  color: #181818;
}
nav a:hover {
  color: #760001;
  border-bottom: 3px solid #760001;
}
h1,
h2 {
  font-family: Dayrom, sans-serif;
  font-size: 1.1em;
}
.epingle{
  vertical-align: middle;
  margin-right: 10px;
}
section h1 {
  text-transform: uppercase;
  font-size: 1.3em;
}
section h2 {
  text-transform: uppercase;
}
section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
}
#bulle {
  position: absolute;
  vertical-align: middle;
  margin-top: 100px;
  margin-left: -20px;
}
article {
  flex: 3;
  padding-right: 15px;
  font-size: 0.8em;
}
aside {
  flex: 1.2;
  position: relative;
  background-color: #706b64;
  box-shadow: 0px 2px 5px #1c1a19;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-size: 0.8em;
  text-align: center;
  margin: auto;
}
#idphoto {
  text-align: center;
}
#media {
  text-align: center;
}
#media a {
  padding-right: 2px;
}
p {
  text-align: justify;
}
header h1 {
  font-family: BallparkWeiner, sans-serif;
  font-size: 2.5em;
  margin: 0 0 0 10px;
}
header h2 {
  font-family: Dayrom, serif;
  font-size: 1.1em;
  margin-left: 10px;
  margin-top: 0px;
}
footer {
  background: url("images/ico_top.png") no-repeat top center,
    url("images/separateur.png") repeat-x top,
    url("images/ombre.png") repeat-x top;
  padding-top: 25px;
}
footer h2 {
  font-size: 0.8em;
}
footer p {
  font-size: 0.8em;
}
#foot {
  display: flex;
}
.photos {
  width: 310px;
  margin-right: 15px;
}
.amis {
  width: 310px;
}
.tweet {
  width: 280px;
  margin-left: 15px;
}
#listamis {
  display: flex;
  justify-content: space-between;
}
#listamis ul {
  margin-left: 5px;
  padding-left: 5px;
  margin-top: 0px;
  padding-top: 0px;
  margin-right: 15px;
  list-style-image: url('images/ico_liensexterne.png');
}
ul a {
  text-decoration: none;
  color: #760001;
  font-size: 0.8em;
  list-style-type: none;
}
.photos img {
  border: 1px solid black;
}

